# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#

# Go workspace file
go.work

# IDE files
.idea/

#QA things
qa/bench.tmp
qa/rep.json
qa/web_tmp/
qa/cur_bench.json


# Coverage
coverage.html
coverage.out

# Misc
BlackWhiteArray.tex
TODO.md
CLAUDE.md
.claude/